<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ieugene.kotlinlab">

    <application>
        <activity
            android:name=".KotlinDrawerActivity"
            android:label="@string/title_activity_kotlin_drawer"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".KotlinActivity" />
    </application>

</manifest>